[user]
	name = juanjo
	email = juanjo@aroztegi.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
    default = current
    autoSetupRemote = true
[rebase]
    autostash = true
[core]
	editor = code --wait
	excludesfile = ~/.gitignore
[alias]
    tree = log --graph --decorate --oneline --parents --all
[url "git@github.com:"]
	insteadOf = https://github.com/
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = code
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
